.skills {
  position: relative;
  margin-bottom: 2rem;
  background: $color-1;
  width: 100vw;
  border-bottom: 2px saddlebrown solid;
  h2 {
    font-size: clamp(12px, 4vw, 28px);
    color: $color-1;
    padding: 1rem;
    background: #000;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
   
  }
  .comp {
    // margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    h3 {
      font-size: clam(15px, 20vw, 20px);
      margin-bottom: 3rem;
      color: $color-4;
    
    }

    .front,
    .Outils {
      perspective: 100px;
      margin-bottom: 3rem;
      ul {
        perspective: 100px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        align-content: center;
        justify-content: center;
        @media only screen and (max-width: 700px) {
          grid-template-columns: repeat(2, 1fr);
        
        }
        @media only screen and (min-width: 704px) and (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }

        h3 {
          text-align: center;
          font-size: clamp(8px, 4vw, 20px);
          color: $color-1;
        }

        li {
          display: block;
          text-align: center;
          padding: 0.7rem;
          border: 3px solid $color-1;
          color: #a82828;
          width: 100%;
          border-radius: 10px;
          //   max-width: 200px;
          background: $color-4;
          box-shadow: 13px 12px 22px rgba(11, 9, 9, 0.6);
          height: 200px;
          transition: 0.2s ease-out;
          @media only screen and (max-width: 700px) {
            width: 100%;
            height: 120px;
          
          }
          img {
            width: 40%;
            border-radius: 10px;
          }
          &:hover {
            transform: translateZ(2px);
            transition: 0.4s ease-out;
          }
        }
      }
    }
  }
}
