.skills {
  position: relative;
  margin-bottom: 2rem;
  background: $color-1;
  width: 100vw;
  h2 {
   
    font-size: clamp(12px, 4vw, 40px);
    color: $color-4;
  }
  .comp {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

    h1 {
      font-size: clam(15px, 20vw, 20px);
      margin-bottom: 3rem;
      color: $color-2;
      text-align: center;
    }
  

    .front,
    .Outils {
        perspective: 100px;
      margin-bottom: 3rem;
      ul {
        perspective: 100px;
     
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        @media only screen and (max-width: 700px) {
       display: flex;
       flex-direction: column;
            }
            @media only screen and (min-width: 704px) and (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
      
        h3 {
          text-align: center;
          font-size: clamp(8px, 4vw, 20px);

        }
       
        li {
          display: block;
          text-align: center;
          padding: .7rem;
          border: 3px solid $color-1;
          color: #a82828;
          width: 100%;
          border-radius: 10px;
        //   max-width: 200px;
          background: #eae6e6;
  
          height: 200px;
          transition: 0.2s ease-out;
         
          img {
            width: 40%;
            border-radius: 10px;
            ;
          }  &:hover {
            transform: translateY(12px);
            transition: 0.4s ease-out;
          }
      }
         
        }
      
    }
  }
}
