.hero {
  height: 100vh;
  min-height: 700px;
  width: 100vw;
  background: $color-3;
  border-bottom: 1px solid $color-1;
  position: relative;
  text-align: center;
  padding-top: 170px;
  justify-content: center;
  @media only screen and (max-width: 700px) {

  }

  &_aria {
    padding-top: 1rem;
    @media only screen and (min-width: 704px) and (max-width: 1024px) {
      padding-top: 3rem;
    }
    h1 {
      font-family: $font-2;
      font-size: clamp(24px, 8vw, 80px);
      display: inline-block;
      font-weight: 800;
      color: #74bf72;
      text-transform: uppercase;
      background-image: linear-gradient(to right, #c48585, $color-1, $color-2);
      background-clip: text;
      color: transparent;
      position: relative;
      -webkit-background-clip: text;
      text-align: center;
      position: relative;
      margin-top: 4rem;
      @media only screen and (max-width: 700px) {
      margin-top: -3rem;
      }
      @media only screen and (min-width: 704px) and (max-width: 1024px) {
     margin-top: -3rem;
      }
    
    }
    h1::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      background: $red;
      animation: heroh1 4s ease-out 0.5s forwards;
    }

    @keyframes heroh1 {
      to {
        transform: translateX(-50%) scale(1);
      }
    }
  }

  .hero_title {
    font-family: $font-1;
    color: $color-5;
    font-size: clamp(10px, 4vw, 30px);
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.9s ease-out;
  }
.hero-languages{
  margin-top: 32px;
 
}
  .active {
    opacity: 1;

  }
  #CiBle {
     span{
      font-size: clamp(16px, 2vw, 20px);
      color: $red;
     }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 2rem;
      width: 5px;
      background: $color-1;
      top: 7px;
      transform: translateY(-4px);
      margin-left: 6px;
      animation: anim 0.8s linear infinite;
    }
    @keyframes anim {
      50% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
  }
 


  &_btn-push {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $color-1;
    background: $black;
    position: absolute;
    bottom: clamp(30px, 7.5vw, 75px);
    left: 50%;
    transform: translateX(-50%);
    top: 84%;
    transition: opacity 0.3s ease-out;
    @media only screen and (max-width: 704px) {
      top: 70%;
      }
    img {
      width: 30%;
      pointer-events: none;
      
    }   /* Tablet*/
    @media only screen and (min-width: 701px) and (max-width: 1024px) {
    
    }
   
  }

  .hero_profil_picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid $color-1;
    position: relative;
    z-index: 2;

    @media (max-width: 700px) {
      width: 60px;
      height: auto;
    }
  }

  .profil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 700px) {
      width: 60px;
      height: auto;
      position: absolute;
      top: 35px;
      right: 23px;
    }
  }

  .profil::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    left: 0;
    top: 0;
    animation: picAnime 4s infinite ease-out;
    transition: 0.3s;
  }

  @keyframes picAnime {
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
}
