
header{
  position: relative;
  z-index: 3;
#side-bar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #a0b8b1;
    top: 0;
    left: -240px;
    transition: 0.5s ease-out;
    z-index: 4;
   
  }
  .toggle-btn {
    position: absolute;
    top: 30px;
    left: 247px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  .toggle-btn span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: #3cd708;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
    @media only screen and (max-width: 700px) {
      width: 30px;
      height: 3px;
      }
      @media only screen and (min-width: 704px) and (max-width: 1024px) {
   
      }
  }
  li {
    color: #292929;
    list-style: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 5px;
  }
  li:hover {
    background: #292929;
    color: #fcfcfb;
  }
  #side-bar.active {
    left: 0;
  }
  
  /* rotate en hambergur span */
  
  .active span {
    position: absolute;
  
  }
  /* enième enfant nth-child */
  .active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .active span:nth-child(2) {
  opacity: 0;
  }
  .active span:nth-child(3) {
  transform: rotate(45deg);
  }
  // .active ~ .content {
  //   opacity: 0.2;
  //   }

  }