@font-face {
  font-family: "font-1";
  src: url(../fonts/Michroma-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/Questrial-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: #ffffff;
$color-2: #383838;
$color-3: #0f2133;
$color-4: #05030c;
$black: rgb(2, 2, 2);
$red: rgb(244, 184, 54);
$color-5: #a1528c;
$color-6: #f5f5f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: unset;
  cursor: none;
}
a,
button,
textarea,
img,
input,
label,
span {
  cursor: none;
}
body {
  font-family: $font-1;
  height: 100vh;
  background-color: $color-1;
  color: $color-1;
  
 
  // @media screen and (max-width: 375px) {
  //   position: relative;
  //   max-width: 100vw;
  //   max-height: 100vh;
  //   overflow-y: hidden;
  // }
}

main {
  position: relative;
}
.btn-remote {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: $color-5;
  color: $color-1;
  border: 4px solid $color-4;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
  }

  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }
  
}
.cursor-perso {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  border: 2px solid rgb(0, 255, 85);
  z-index: 100;
  pointer-events: none;
}
.cursor-perso::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $color-5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (pointer: corse) {
  .cursor-perso {
    display: none;
  }
}
img {
  object-fit: cover;
}
// //animations
// .apropos.active{

// }
// .skills.active {

// }

// .projects.active{

// }
// .Formations.active{

// }